# Environment variables
.env

# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Optional: IDE/editor files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional: temporary files
*.tmp
*.swp
